body {
    height: 300vh;
    background: url('https://i.ibb.co/ZNcbftg/world.jpg');
}

h1 {
    margin-bottom: 5px;
}

header {
    text-align: center;
}

main {
    width: 90%;
    margin: auto;
}

.select {
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
}


#arrow {
    font-size: 30px;
    margin-top: 5px;
}

#mic {
    font-size: 60px;
}

#mic:hover {
    cursor: pointer;
}

.language-select-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.translated-text {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-align: right;
    background: rgba(154, 255, 176, 0.7);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 40px;
    /* box-shadow: 2px 2px 2px green; */
}

.original-text {
    font-family: 'Sriracha', cursive;
    margin-bottom: 0;
    background: rgba(183, 128, 255, 0.7);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /* box-shadow: 2px 2px 2px purple; */
    
}

.input {
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.input:focus {
    outline: none;
}
.wave {
    border-radius: 10px 0 10px 0;
    transition: 0.3s ease;
}
.waveD {
    background-color: rgb(171, 255, 145);
    color: rgb(0, 94, 12);
    border: 2px solid rgb(0, 94, 12);
    box-shadow: 2px 2px 2px 1px rgba(0, 110, 6, 0.4);
}
.waveD:focus {
    border: 3px solid rgb(105, 255, 163);
    box-shadow: 12px 12px 2px 1px rgba(0, 110, 6, 0.4);
}

@media (min-width: 700px) {
    body {
        margin: auto;
        margin-top: 30px;
        width: 650px;
    }
}